.home-container {
    display: flex;
    justify-content: center;

    .home-wraper {
        width: 800px;
        display: flex;
        gap: 30px;
        margin-top: 20px;

        .time-line {
            flex: 6;

            .post-card {
                background: #fff;
                border: 1px solid #e9e9e9;
                overflow: hidden;
                border-radius: 10px;

                .post-card-header {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: 0 12px;
                    height: 50px;

                    .post-user-info {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                        }

                        .post-username {

                            a {
                                text-decoration: none;
                                color: rgb(38, 38, 38);
                                font-size: 14px;
                            }
                        }
                    }

                    .post-opt-btn {
                        button {
                            color: rgb(38, 38, 38);
                            font-size: 20px;
                            border: none;
                            background: none;
                        }
                    }

                }

                .post-card-img {
                    img {
                        width: 100%;
                    }
                }

                .post-card-icons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: 0 12px;
                    height: 50px;

                    .icons-left {
                        display: flex;
                        gap: 10px;

                        a svg {
                            color: #000;

                            &:hover {
                                color: rgb(142, 142, 142);
                            }
                        }
                    }

                    .icons-right {
                        a svg {
                            color: #000;

                            &:hover {
                                color: rgb(142, 142, 142);
                            }
                        }
                    }
                }

                .post-details{
                    text-align: left;
                    padding: 0 12px;

                    .likes{
                        color: #000;
                        font-weight: 900;
                        cursor: pointer;
                        padding-bottom: 10px;
                        font-size: 15px;
                    }

                    .content{
                        font-size: 15px;
                        color: rgb(142, 142, 142);
                    }

                    .comment{
                        font-size: 15px;
                        color: rgb(142, 142, 142);
                        cursor: pointer;
                        display: block;
                    }
                    .post-time{
                        font-size: 15px;
                        color: rgb(142, 142, 142);
                        display: block;
                        margin-bottom: 20px;
                    }
                }

                .post-comment-area{
                    border-top: 1px solid #e9e9e9;

                    .post-comment-wraper{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding: 0 12px;
                        min-height: 50px;

                        input{
                            width: 85%;
                            padding: 5px;
                            font-size: 14px;
                            color: #000;
                            border: none;
                        }

                        button{
                            border: none;
                            background: none;
                            font-size: 16px;
                            color: rgb(0, 149, 246);
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .user-info {
            flex: 4;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .user_wraper {
                display: flex;
                justify-content: flex-start;
                gap: 15px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .name_username {

                    a {
                        text-decoration: none;
                        color: rgb(38, 38, 38);
                        font-size: 14px;
                    }

                    span {
                        color: gray;
                        font-size: 14px;
                    }
                }
            }

            .login_wraper {

                a {
                    text-decoration: none;
                }

            }

        }
    }
}