.verify-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .verify-card{
        width: 400px;
        text-align: center;
        border: 1px solid #e9e9e9;
        padding: 50px 25px 30px;
        background: #fff;

        .btn{
            background: rgb(0, 149, 246);
            margin-top: 20px;
            border: none;
            color: #fff;
        }
    }
}