.login-container{
    width: 100%;
    min-height: 100vh;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-wraper{
        width: 350px;
        background-color: #fff;
        border: 1px solid #e9e9e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;

        .login-form{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;

            .form-input{
                width: 100%;
                height: 40px;
                margin-bottom: 7px;
                padding: 0 10px;
                font-size: 13px;
                background: #fafafa;
                border: 1px solid #e9e9e9;
                font-weight: 300;
            }

            .form-input::placeholder{
                font-size: 13px;
                font-weight: 300;
            }

            .login-submit{
                width: 100%;
                height: 30px;
                font-size: 13px;
                color: #fff;
                background: #0095FA;
                text-align: center;
                font-weight: 500;
                margin-bottom: 10px;
                border: none;
                margin-top: 10px;
            }
        }
        .divider{
            width: 80%;
            color: #b1b1b1;
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            margin-top: 10px;
            position: relative;

            &::after{
                content: '';
                clear: both;
                display: block;
                width: 43%;
                background: #e9e9e9;
                height: 1px;
                position: absolute;
                top: 10px;
                left: 0;
            }
            &::before{
                content: '';
                clear: both;
                display: block;
                width: 43%;
                background: #e9e9e9;
                height: 1px;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
        a{
            text-decoration: none;
        }
        .login-with-fb{
            color: #385185;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            margin-top: 15px;
        }
        .forget-password{
            color: rgba(0,55,107,1);
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            margin-top: 12px;
            line-height: 16px;
        }
    }

    .signup-wraper{
        width: 350px;
        background-color: #fff;
        border: 1px solid #e9e9e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0 10px;
        margin-top: 20px;
        color: rgba(38,38,38,1);
        font-size: 14px;
        text-align: center;

        .signup-btn{
            text-decoration: none;
            color: rgba(0,149,246,1);
            font-weight: 700;
        }
    }

    .get-app{
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            color: rgba(38,38,38,1);
            font-size: 14px;
            line-height: 18px;
            margin: 20px 20px 10px 20px;
            text-align: center;
        }

        .get-images{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;

            img{
                width: 130px;
            }
        }
    }

}
